.login {
  border: 1px solid #000;
  padding: 26px 42px;
  margin: 0 15px;
  text-align: center;
}

.login__inner-wrapper {
  max-width: 260px;
  margin: 0 auto;
}

.login__input {
  border: 2px solid #000;
  height: 42px;
  font-size: 1.8rem;
  padding: 0 10px;
 // margin: 65px 0 20px;
  margin-bottom: 20px;
  width: 100%;
}

.login__input--error {
  border: 2px solid #FA653F;
}

.login__error-wrapper {
  height: 70px;
  padding-top: 30px;
}

.login__text {
  font-size: 1.4rem;
  font-weight: 700;
}

.login__text--error {
  color: #FA653F;
}

.login__title {
  font-size: 2.4rem;
  font-weight: 600;
}

@media(min-width: 400px) {
  .login {
    width: 340px;
    margin: 0 auto;
  }
}
