.menu {
  margin: 0 15px 40px;
  border: 1px solid black;
  border-bottom: none;
}

.menu__item {
  font-size: 1.6rem;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid black;
}

@media(min-width: 500px) {
  .menu {
    max-width: 500px;
    margin: 0 auto 40px;
    border-bottom: 1px solid black;
    border-right: none;
  }

  .menu__item {
    display: inline-block;
    width: 50%;
    border-right: 1px solid black;
    border-bottom: none;
  }
}