.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 600px;
  height: 320px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 0px #dce0e0;
  z-index: 1;
  background-color: #FFF;
}

.popup__overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
}

.popup__title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.popup__body {
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: justify;
}

.popup__close-btn {
  display: block;
  text-align: right;
  font-size: 1.6rem;
  cursor: pointer;
}