.popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 0px #dce0e0;
  z-index: 1;
  background-color: #FFF;
}

.popup__overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
}

.popup__title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.popup__body {
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: justify;
}

.popup__close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 1.6rem;
  line-height: 0.9rem;
  cursor: pointer;
  padding: 8px;
}

@media(min-width: 500px) {
  .popup {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 600px;
    width: calc(100% - 20px);
    height: 320px;
    margin: 0 auto;
  }

  .popup__close-btn {
    top: -10px;
    right: -10px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #FFF;
    font-size: 1.2rem;
  }
}
