* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body, #root {
  height: 100%;
}

.button {
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button--standard {
  background-color: #FA653F;
  color: #FFF;
  padding: 12px;
  font-size: 1.8rem;
  width: 100%;
}

.button--text {
  font-size: 1.2rem;
  margin-top: 20px;
  font-weight: 600;
}