* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body, #root {
  height: 100%;
}

.button {
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button--standard {
  background-color: #FA653F;
  color: #FFF;
  padding: 12px;
  font-size: 1.8rem;
  width: 100%;
}

.button--text {
  font-size: 1.2rem;
  margin-top: 20px;
  font-weight: 700;
}

.text {
  font-size: 1.4rem;
  font-weight: 700;
}

.text--error {
  color: #FA653F;
}

.box {
  border: 1px solid #000;
  padding: 26px 42px;
  margin: 0 15px;
  text-align: center;
}

@media(min-width: 500px) {
  .box {
    width: 340px;
    margin: 0 auto;
  }
}
