* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body, #root {
  height: 100%;
}

button {
  background-color: #FA653F;
  color: #FFF;
  text-align: center;
  border: none;
  padding: 12px;
  font-size: 1.8rem;
}
